// app global css in SCSS form
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "./fonts.scss";
@layer base {
  :root {
    --swiper-pagination-color: theme(colors.black);
    --swiper-pagination-bullet-inactive-color: theme(colors.black/10);
    --swiper-pagination-bullet-inactive-opacity: 0.9;
  }
  html {
    font-size: 100%;
  }
  body {
    @apply tw-font-manrope tw-text-t1;
  }
  h1, h1 {
    @apply tw-font-bold tw-text-h1;
  }
  h2, .h2 {
    @apply tw-font-bold tw-text-h2;
  }
}
@layer components {
  .yellor-gr {
    background: linear-gradient(98.03deg, #ffefd2 -8.55%, #edc39b 107.51%);
  }
  .purple-gr {
    background: linear-gradient(99.66deg, #e1e1fd -1.66%, #b2b2ef 107.46%);
  }
  .purple-yellor-gr {
    background: linear-gradient(166.55deg, #eed9fd -1.72%, #fff0a1 103.52%);
  }
  .online-scene {
    @apply tw-rounded-20 purple-gr tw-relative tw-grid tw-gap-2.5 tw-overflow-hidden;
    padding: 22px 16px;
    &__title {
      @apply tw-text-t1 tw-text-white tw-rounded-20 tw-font-bold tw-w-fit;
      padding: 6px 12px;
      background: #181818;
    }
    &__name {
      @apply tw-text-t2;
      margin-left: 6px;
    }
    &__icon {
      right: -18px;
      position: absolute;
      width: 105px;
      height: 105px;
    }
  }
  .invite {
    @apply tw-rounded-20 tw-overflow-hidden yellor-gr tw-px-4  tw-relative tw-grid;
    height: 105px;
    align-content: center;
    &__title {
      @apply tw-text-h1 tw-font-bold;
    }
    &__icon {
      @apply tw-absolute tw-right-0 tw-top-0;
      width: 149px;
      height: 95px;
    }
  }
}
@layer utilities {
  .env-t {
    padding-top: max(20px, env(safe-area-inset-top, 20px));
  }

  .env-b {
    padding-bottom: max(20px, env(safe-area-inset-bottom, 20px));
  }
  .env-t-40 {
    padding-top: max(40px, env(safe-area-inset-top, 20px));
  }

  .env-b-40 {
    padding-bottom: max(40px, env(safe-area-inset-bottom, 20px));
  }
}
