@font-face {
  font-family: manrope;
  font-weight: 400;
  src:
    url('/fonts/manrope/Manrope-Regular.woff2') format('woff2'),
    url('/fonts/manrope/Manrope-Regular.woff') format('woff');
}

@font-face {
  font-family: manrope;
  font-weight: 500;
  src:
    url('/fonts/manrope/Manrope-Medium.woff2') format('woff2'),
    url('/fonts/manrope/Manrope-Medium.woff') format('woff');
}

@font-face {
  font-family: manrope;
  font-weight: 600;
  src:
    url('/fonts/manrope/Manrope-SemiBold.woff2') format('woff2'),
    url('/fonts/manrope/Manrope-SemiBold.woff') format('woff');
}

@font-face {
  font-family: manrope;
  font-weight: 700;
  src:
    url('/fonts/manrope/Manrope-Bold.woff2') format('woff2'),
    url('/fonts/manrope/Manrope-Bold.woff') format('woff');
}
